# <center> SCRAPING WEBSITE DATA WITH PYTHON <center>

### <center> For this project i'll be using a Real Estate website to scrap data. <center>

In [1]:
import requests
from bs4 import BeautifulSoup

# TO SCRAP ONE PAGE DATA ONLY

In [34]:
l=[]
base_url = "https://www.century21.com/real-estate/austin-tx/LCTXAUSTIN/?p="
for page in range(1,30):        # to ilterate through all the pages
    r = requests.get(base_url+str(page))
    c = r.content
    soup = BeautifulSoup(c,"html.parser")
    all = soup.find_all("div",{"class":"property-card"})
    for item in all:
        d={}
        d["Price"] = item.find("a",{"class","listing-price"}).text.replace("\n","").replace(" ","") #price
        d["Address"] = item.find("div",{"class","property-address"}).text.replace("\n","").replace(" ","") #address
        d["City"] = item.find("div",{"class","property-city"}).text.replace("\n","").replace(" ","") # City
        try:
            d["bed"] = item.find("div",{"class","property-baths"}).find("strong").text.replace("\n","").replace(" ","") # bed
        except:
            d["bed"] = None
        try:
            d["bath"] = item.find("div",{"class","property-baths"}).find("strong").text.replace("\n","").replace(" ","") # bath
        except:
            d["bath"] = None
        try:
            d["SQFT"] = item.find("div",{"class","property-sqft"}).text.replace("\n","").replace(" ","") # square.ft
        except:
            d["SQFT"] = None

        l.append(d)

#### Now, arrange this data in pandas dataframe to export as a CV file

In [35]:
len(l)

353

#### So, We've scraped 352 Rows of data from the website

#### Now to export this data in the form of CSV file we use Pandas dataframe

In [52]:
import pandas as pd

In [53]:
df = pd.DataFrame(l)

In [54]:
df

        Price                 Address           City   bed  bath        SQFT
0    $235,000         512Eberhart#206  AustinTX78745     1     1    832sq.ft
1    $479,000        10900MickelsonDr  AustinTX78747     3     3        None
2    $325,000        11929GaelicDrive  AustinTX78754     2     2        None
3    $620,000  12708TierraGrandeTrail  AustinTX78732     2     2  2,002sq.ft
4    $650,000      1819PiedmontAvenue  AustinTX78757     2     2        None
..        ...                     ...            ...   ...   ...         ...
348  $105,000        14502HuntersPASS  AustinTX78734  None  None        None
349   $95,000             4102LowerDR  AustinTX78725  None  None        None
350   $95,000             3802LowerDR  AustinTX78725  None  None        None
351   $95,000           2502DouglasST  AustinTX78741  None  None        None
352   $80,000        4808BrookCreekCV  AustinTX78744  None  None        None

[353 rows x 6 columns]

In [56]:
df.to_csv("Output_data.csv")

## Great :)

# PROJECT BY @YASIRKHANA